# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage reports
coverage/
*.coverage

# Cache
.cache
tmp/
